.todo-list {
  margin-top: 20px;
}

.todo {
  margin-bottom: 10px;
  text-align: left;
}

.todo.done {
  text-decoration: line-through;
}

.todo input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}
.todo-box
{
  margin: auto;
  width:300px;
}
body
{
  background-color: #B0DAFF;
}

